<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryui")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")            
       
    <!-- Le styles -->
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css", "~/Content/css")    
    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")  
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">              
    <link href="~/Content/kambao.css" rel="stylesheet">              
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    </head>

  <body>
    <div class="navbar navbar-static-top navbar-inverse" id="top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/home"><i class=" icon-th-large icon-white"></i> Kambao</a>
        </div>
      </div>
    </div>      
    
     <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button id="showHideMenu" class="btn btn-small btn-info"><i class="icon-hand-left icon-white"></i> 
          </button>
        </div>
      </div>
     </div>
   

<div id="sidebar" style="float:left">
				<!--
	<div id="sidebar-shortcuts">
		<div id="sidebar-shortcuts-large">
			<button class="btn btn-small btn-success"><i class="icon-signal"></i></button>
			<button class="btn btn-small btn-info"><i class="icon-pencil"></i></button>
			<button class="btn btn-small btn-warning"><i class="icon-lock"></i></button>
			<button class="btn btn-small btn-danger"><i class="icon-question-sign"></i></button>
		</div>
	</div>-->
	<ul class="nav nav-list">
		<li>
			<a href="/quadro">
			<i class="icon-th"></i>
			<span>Quadro</span>						
			</a>
		</li>

		<li>
			<a href="/faixas">
			<i class="icon-pause"></i>
			<span>Faixas</span>
			</a>
		</li>

		<li>
			<a href="/tarefas" >
			<i class="icon-star"></i>
			<span>Tarefas</span>
			</a>			
		</li>

        <li>
			<a href="/tarefas" >
			<i class="icon-star"></i>
			<span>Gráficos</span>
			</a>			
		</li>

        <li>
			<a href="/tarefas" >
			<i class="icon-star"></i>
			<span>Indicadores</span>
			</a>			
		</li>

	</ul>
</div>




    <div id="container" class="container">

    @RenderBody()        

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/kambao.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
    
            $('#showHideMenu').click(function () {                
                $('#sidebar').toggle('slide', { direction: 'left' }, 'fast');
            });
        });
     </script>

    @RenderSection("scripts", required: false)
</body>
</html>
