@model Kambao.Core.Quadro

@{
    ViewBag.Title = "Quadro";
}

<button id="buttonSubmit">Vai tartaruguinha!!!</button>
<!--<a id="buttonSubmit" class="btn btn-primary btn-large">Enviar</a>-->
</div>


@foreach (var faixa in Model.faixas)
{
    <div id="@faixa.Id" class="faixa" >
        @faixa.Descricao 
    </div>    
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
           /* $.getJSON('Faixas/ListAll', function (data) {
                var faixas = data;
                $.each(faixas, function (index, faixa) {
                    var container = document.getElementById('container');
                    $(container).append("<div id=" + faixa.Id + " class='faixa' >" +
                                               faixa.Descricao +
                                          "</div>");
                });
            });*/

            $.getJSON('Tarefas/ListAll', function (data) {
                var tarefas = data;
                $.each(tarefas, function (index, tarefa) {
                    var faixa = document.getElementById(tarefa.faixa.Id);
                    $(faixa).append("<div id="+tarefa.Id+" class='card solicitacao'>"+
			                            "<h2>"+tarefa.Codigo+"</h2>"+		
			                            "<p>"+tarefa.Descricao+"</p>"+
		                            "</div>");
                });            
            });
                        
            var quadro = $.connection.quadroHub;
            // wire up writeMessage
            quadro.client.alterarFaixaDoCartao = function (tarefa, faixa) {
                //Remove o cartao da faixa antiga

                //Adiciona o cartao na nova faixa
                var faixa = document.getElementById(faixa.Id);
                $(faixa).append("<div id=" + tarefa.Id + " class='card solicitacao'>" +
                                    "<h2>" + tarefa.Codigo + "</h2>" +
                                    "<p>" + tarefa.Descricao + "</p>" +
                                "</div>");
            };

            //wire up button click event 
            $("#buttonSubmit").click(function () {
                var tarefa = $("#textInput").val();
                quadro.server.moveCard(text);
            });

            // start connection
            $.connection.hub.start();
            
        });
    </script>
}
    
@*  
@foreach (var faixa in Model.faixas)
{
    <div id="@faixa.Id" class="faixa" >
        @faixa.Descricao 

        @foreach (var tarefa in Model.tarefas) 
        {
            if ((tarefa.faixa != null) && (tarefa.faixa.Id == faixa.Id)) 
            {
                <div id="@tarefa.Id" class="card solicitacao">
			        <h2>@tarefa.Codigo</h2>		
			        <p>@tarefa.Descricao</p>
		        </div>                 
            }
        }          
    </div>    
}
*@