@model Kambao.Core.Quadro

@{
    ViewBag.Title = "Quadro";
}
     
@foreach (var faixa in Model.faixas)
{
    <div id="@faixa.Id" class="faixa" >
        @faixa.Descricao 

        @foreach (var tarefa in Model.tarefas) 
        {
            if ((tarefa.faixa != null) && (tarefa.faixa.Id == faixa.Id)) 
            {
                <div id="@tarefa.Id" class="card solicitacao">
			        <h2>@tarefa.Codigo</h2>		
			        <p>@tarefa.Descricao</p>
		        </div>                 
            }
        }
          
    </div>    
}
